body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(to right, rgb(0, 121, 145), rgb(120, 255, 214))
}
.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 300px;
  
  .form{
    display: flex;
    flex-direction: column;
    
    .cepInput{
      padding: 15px;
      margin: 5px 0 15px 0;
      border-radius: 15px;
      text-align: center;
    }
    .btn{
      padding: 15px;
      border-radius: 15px;
    }
  }
}
.returnApi{
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;

  li{
    list-style: none;
    color: #000000;
  }
}